body {
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
}

div.startpage ul,
div.startpage li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

header,
main,
div.emobanner {
    padding-left: 53px;
    padding-right: 53px;
}

div.emobanner span.subtitle {
    font-size: 22px;
    font-weight: 50;
    display: block;
    margin-top: 15px;
    color: #6782eb;
    text-transform: uppercase;
    width: fit-content;
}

div.emobanner span.subtitle:hover {
    color: #E6B600;
}

.postcount {
    font-size: 22px;
    font-weight: 50;
    display: block;
    margin-top: 15px;
}

header {
    background-color: #070E27;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

header img {
    height: 58px;
}

header a.github img {
    position: relative;
    left: 55px;
    height: 30px;
}

header nav {
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    display: flex;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    padding: 10px 20px;
    margin-left: 40px;
}

header nav a.emphasized {
    background-color: #172c7d;
    border: 2px solid #1f3ba7;
    border-radius: 1px;
}

main {
    color: #3C4852;
    font-size: 14px;
    line-height: 23px;
}

div.emobanner {
    height: 385px;
    display: flex;
    padding-right: 20px;
    background-size: cover;
    z-index: 1;
    
}

div.emobanner.article {
    height: 385px;
    display: flex;
    padding-right: 20px;
    background-size: cover;
    background-color: #0f1c50;
    z-index: 1;
}

div.emobanner.article div {
    width: 40vw;
    height: 385px;
    background-size: cover;
    z-index: 2;
    position: relative;
    left: 20px;
}

div.emobanner h1 {
    margin: 0;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 50px;
    flex: 1;
}

div.emobanner h1 span.pre {
    font-size: 16px;
    color: #6782eb;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    top: -5px;
}

div.emobanner ul {
    margin: 0;
}

div.emobanner h1 span::after {
    content: "\A";
    white-space: pre;
}

div.startpage div.box {
    background-color: #f6f8fd;
    margin-top: 30px;
    padding: 50px;
}

div.startpage div.box h1 {
    color: #0F1C4F;
    font-size: 33px;
    line-height: 33px;
    margin-top: 0;
}

div.startpage h2 {
    margin-top: 40px;
    font-size: 12px;
    color: #A9B0B8;
    font-weight: 100;
}

div.startpage h3 {
    color: #0F1C4F;
    font-size: 33px;
    line-height: 33px;
}

div.startpage h3.series {
    margin-block-start: 0.2em;
}

div.startpage a.readmore {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 2px solid #E6B600;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 3px;
}

div.startpage li div.image {
    float: right;
    height: 250px;
    width: 40%;
    margin-left: 40px;
    margin-bottom: 20px;
    background-size: cover;
}

div.startpage li:after {
    content: "";
    display: table;
    clear: both;
}

ul.tag-list {
    margin-top: 20px;
}

body > main > div > ul > li {
    margin-bottom: 60px;
}

ul.tag-list li,
ul.tag-list-linked li a {
    background: #f6f8fd;
    color: #606f7b;
    font-size: .875rem;
    line-height: 1.875rem;
    padding: 0 .75rem;
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    margin-right: .8125rem;
    margin-bottom: .8125rem;
    font-family: Arial, Helvetica, sans-serif;
}

li ul.tag-list-linked {
    margin-top: 15px;
}

ul.tag-list-linked li {
    display: inline-block;
    cursor: pointer;
}

h2.footer {
    margin-top: 30px;
    font-size: 13px;
    font-weight: normal;
    color: #1f3ba7;
}

footer {
    background-color: #070E27;
    padding: 25px 50px;
    margin-top: 50px;
}

footer img {
    height: 58px;
    display: inline-block;
    margin-bottom: 15px;
}

footer a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-right: 25px;
}

footer div {
    display: flex;
    align-items: flex-end;
    margin-top: 15px;
}

footer span.first {
    display: inline-block;
}

footer span.second {
    display: inline;
    border-left: 1px solid white;
    padding-left: 25px;
}

footer nav,
footer p {
    display: inline-block;
    position: relative;
    top: -30px;
}

footer nav {
    margin-left: 35px;
}

footer p {
    color: #cfd8fc;
    font-size: 11px;
    margin-left: 50px;
}

footer h3 {
    color: white;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0;
    display: inline-block;
}

footer a.top {
    text-align: right;
    flex: 1;
    margin-right: 0;
}

figure {
    background-color: #f6f8fd;
    margin: 80px 0 0 0;
    padding: 0 30px 0 30px;
    width: 85%;
}

figure img {
    height: 80px;
    position: relative;
    top: -40px;
    border-top-right-radius: 25px;
    /* border-radius: 50px; */
}

figure h3 {
    color: #122466;
}



figure p,
figure h3 {
    position: relative;
    top: -50px;
}

figure p {
    top: -65px
}

figure figcaption {
    height: 20px;
}

.spacer {
    background-color: #1da1f2;
}


/* Sergej */


a {
    color: #070E27;
}

a.footnote-ref::before {
    content: '[';
}

a.footnote-ref::after {
    content: ']';
}

/* Mobile */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-device-pixel-ratio: 3) {
    .content {
        max-width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .content {
        max-width: 90%;
    }
    figure {
        width: 90%;
    }
}

@media only screen and (min-width: 1200px) {
    .content {
        max-width: 66%;
    }
    figure {
        width: 90%;
    }
}

@media only screen and (min-width: 1500px) {
    .content {
        max-width: 50%;
    }
    figure {
        width: 90%;
    }
}

.container {
    display: flex;
    justify-content: center;
}

pre {
    border-radius: 10px;
}

pre > code {
    padding: 10px;
    display: block;
    overflow-x: auto;
}

/*
pre > code {
    background-color: #f2f2f2;
    display: block;
    padding: 20px;
    margin-top: 30px;
    overflow-x: auto;
    font-size: 90%;
}
p > code {
    background-color: #f2f2f2;
    padding: 2px 4px;
    font-size: 80%;
}*/

.content img {
    width: 100%;
    height: auto;
}

.content > h1,
.content > h2 {
    margin-top: 1.95em;
}

p {
    font-size: 1.4em;
}

.author-container{
    display: flex;
    justify-content: center;
}
.author-container a{
    text-decoration: none;
    font-size: x-large;
}

.author-container a:hover{
    color: #E6B600;
}

.clickable-title{
    text-decoration: none;
}

.series-title {
    text-transform: uppercase;
}

.container {
    font-family: 'Noto Sans', sans-serif;
}

.emobanner h1 {
    font-weight: normal;
}

.github-author {
    width: 25px;
    height: auto;
    top: 5px;
    left: 10px;
    margin-left: 10px;
    border-top-right-radius: 0;
}

.gitlab-author {
    width: 25px;
    height: auto;
    top: 5px;
    left: 10px;
    margin-left: 10px;
    border-top-right-radius: 0;
}

.linkedin-author {
    width: 25px;
    height: auto;
    top: 5px;
    left: 10px;
    margin-left: 10px;
    border-top-right-radius: 0;
}

#videoBG {
    object-fit: cover;
    width: 100%;
    height: inherit;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: -1;
}

.footer-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#title, #pre-title {
    color: white;
    padding: 4px;
    font-weight: 700;
}

#pre-title {
    color: #cfd8fc;
}


/* in list text size was too small */
ol,
li,
ul {
    font-size: 18px;
    margin-top: 8px;
}

h3 {
    font-size: 18px;
}

.footnotes {
    margin-top: -1.2em;
}

.footnotes p {
    font-size: 1.1em;
}

.footnotes hr {
    border:0px;
}

#all_posts_quicklink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    padding: 10px 20px;

    background-color: #172c7d;
    border: 2px solid #1f3ba7;
    border-radius: 1px;
}

.posts_pagination {
    text-decoration: none;
}

.related-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-flow: wrap;
    margin-top:30px;
}
.related-container ul{
    width:90%;
    list-style:none;
    list-style-type: '➔  ';
    text-decoration: none;
    margin-top:30px;
}
.related-container a{
    text-decoration: none;
    margin-bottom:20px;
}
.related-container ul li{
    margin-bottom:10px !important;
    margin:0;

};


.related-container li::marker {
    color: #172c7d;
}
.related-heading {
    color: #172c7d !important;
    padding-left:20px;
}

.related-block {
    flex-direction:column; 
    width:95%;
}

.related-link {
    position: relative;
}
  
.related-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #E6B600;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}
  
.related-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}







.cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
 }

.card {
    flex: 0 1 90%;
    border-top-right-radius: 4rem;
    margin-bottom:40px;
    overflow: hidden;
    max-width: 1400px;
}

.image-wrapper {
    height: 200px;
    width: 100%;
    position:relative;
    display: flex;
    align-items: end;
    margin-bottom: -1px;
}
.card-image {
    height: 100%;
    width:100%;
    background-size: cover;
    background-position: 50%;
    transition: transform .3s ease-in-out,-webkit-transform 0.3s ease-in-out;
    will-change: transform;
    position: absolute;
}

.card-gradient {
    background: linear-gradient(to top, rgba(16, 28, 81,1), rgba(255,0,0,0));
    position: absolute;
    will-change: transform;
    height:100%;
    width:100%;
}

.card-content {
    padding-top: 0;
    padding-left:30px;
    padding-right:30px;
    padding-bottom: 10px;
    color: white;
    z-index: 10;
    position: relative;
    background-color: #0f1c50;
    font-size: 14pt;
}
.card-title {
    margin: 0 0 40px 0;
    color:white !important;
    text-decoration: none;
}

.card-series-title {
    margin:0;
    color: #4679eb;
    font-size: large;
    text-transform: uppercase;
    position: relative;
    bottom: 0;
}

.card-author {
    margin:15px 15px 0 0;
    font-size: large;
    font-weight: 700;
    color:#4679eb;
    display: inline-block;
}

.card-author-wrapper {
    display: table-cell;
    margin-bottom: 15px;
    vertical-align: middle;
}
.card-date {
    margin:15px 15px 0 0;
    font-size: medium;
    display: inline-block;
}

.card-tag-list-linked {
    color: #4679eb;
    background-color: none;
    border:3px;
    border-color: #4679eb;
}

ul.card-tag-list-linked li a {
    color: #4679eb;
    background-color: none;
    border-color: #172c7d;
    border: 2px solid;
    font-size: .875rem;
    line-height: 1.875rem;
    padding: 0 .75rem;
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    margin-right: .8125rem;
    margin-bottom: .8125rem;
    font-family: Arial, Helvetica, sans-serif;
}

li ul.card-tag-list-linked {
    margin-top: 15px;
}

ul.card-tag-list-linked li {
    display: inline-block;
    cursor: pointer;
    z-index: 30;
    position: relative;
}

.card:hover .card-image {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

ul.card-tag-list-linked li a:hover {
    color: #E6B600;
    border-color: #E6B600;
}

.card-arrow {
    color:#E6B600;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    font-size: medium;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    bottom: -0.5rem;
    right: -0.5rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    
}

.card-link {
    width: 100%;
    height:100%;
    position: absolute;
    top: 0; 
    left: 0;

}

.card-series-link {
    margin:0;
    margin-bottom: 0.5em;
    color: #4679eb;
    font-size: large;
    position: absolute;
    bottom: 0;
    z-index: 50;
    text-decoration: none;
    left: 30px;
}

.card-series-title:hover {
    color: #E6B600;
}

#series-link {
    text-decoration: none;
}

.card:hover .card-arrow {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #E6B600;
    color:#070E27;
    border-top-left-radius: 3.5rem;
}

.element-wrapper {
    flex: 0 1 90%;
    margin-bottom:40px;
    max-width: 1400px;
    width: 500px;
}

.element-wrapper h1{
    font-size: xx-large;
    color:#000000;
}

.posts_pagination_prev {
    float: right;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    padding: 10px 20px;

    background-color: #172c7d;
    border: 2px solid #1f3ba7;
    border-radius: 1px;
}
.posts_pagination_next {
    float: left;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    padding: 10px 20px;

    background-color: #172c7d;
    border: 2px solid #1f3ba7;
    border-radius: 1px;
}
