body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul,
li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

header,
main,
div.emobanner {
  padding-left: 53px;
  padding-right: 53px;
}

div.emobanner span.subtitle {
  font-size: 22px;
  font-weight: 50;
  display: block;
  margin-top: 15px;
  color: #CFD8FC;
  font-stretch: condensed;
}

header {
  background-color: #070E27;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

header img {
  height: 58px;
}

header a.github img {
  position: relative;
  left: 55px;
  height: 30px;
}

header nav {
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  display: flex;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: auto;
  padding: 10px 20px;
  margin-left: 40px;
}

header nav a.emphasized {
  background-color: #172C7D;
}

main {
  color: #3C4852;
  font-size: 14px;
  line-height: 23px;
  margin-top: 40px;
}

div.emobanner {
  background-color: black;
  height: 385px;
  display: flex;
  padding-right: 20px;
  background-size: cover;
  z-index: 1;
}

div.emobanner.article {
  background-color: #101C51;
}

div.emobanner.article div {
  width: 45vw;
  height: 385px;
  background-size: cover;
  z-index: 2;
  position: relative;
  left: 20px;
}

div.emobanner h1 {
  margin: 0;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 50px;
  flex: 1;
}

div.emobanner h1 span.pre {
  font-size: 16px;
  color: #6782eb;
  text-transform: uppercase;
  font-weight: 100;
  position: relative;
  top: -5px;
}

div.emobanner ul {
  margin: 0;
}

div.emobanner h1 span::after {
  content: "\A";
  white-space: pre;
}

div.startpage {
  margin-bottom: 60px;
}

div.startpage h2 {
  margin-top: 40px;
  font-size: 12px;
  color: #A9B0B8;
  font-weight: 100;
}

div.startpage h3 {
  color: #0F1C4F;
  font-size: 33px;
  line-height: 33px;
}

div.startpage a {
  color: #0F1C4F;
  text-decoration: none;
  border-bottom: 2px solid #E6B600;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 3px;
}

div.startpage li div.image {
  float: right;
  height: 250px;
  width: 40%;
  margin-left: 40px;
  margin-bottom: 20px;
  background-size: cover;
}

div.startpage li:after {
  content: "";
  display: table;
  clear: both;
}

ul.tag-list {
  margin-top: 20px;
}

ul.tag-list li,
ul.tag-list-linked li a {
  background: #f6f8fd;
  color: #606f7b;
  font-size: .875rem;
  line-height: 1.875rem;
  padding: 0 .75rem;
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
  margin-right: .8125rem;
  margin-bottom: .8125rem;
  font-family: Arial, Helvetica, sans-serif;
}

ul.tag-list-linked li {
  display: inline-block;
  cursor: pointer;
}

h2.footer {
  margin-top: 30px;
  font-size: 13px;
  font-weight: normal;
  color: #1f3ba7;
}

footer {
  background-color: #070E27;
  padding: 25px 50px;
  margin-top: 50px;
}

footer img {
  height: 58px;
  display: inline-block;
  margin-bottom: 15px;
}

footer a {
  font-size: 12px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin-right: 25px;
}

footer div {
  display: flex;
  align-items: flex-end;
  margin-top: 15px;
}

footer span.first {
  display: inline-block;
}

footer span.second {
  display: inline;
  border-left: 1px solid white;
  padding-left: 25px;
}

footer nav,
footer p {
  display: inline-block;
  position: relative;
  top: -30px;
}

footer nav {
  margin-left: 35px;
}

footer p {
  color: #cfd8fc;
  font-size: 11px;
  margin-left: 50px;
}

footer h3 {
  color: white;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 0;
  display: inline-block;
}

footer a.top {
  text-align: right;
  flex: 1;
  margin-right: 0;
}

figure {
  background-color: #f6f8fd;
  margin: 80px 0 0 0;
  padding: 0 30px 0 30px;
  width: 33vw;
}

figure img {
  height: 80px;
  position: relative;
  top: -40px;
}

figure h3 {
  color: #122466;
}

figure p,
figure h3 {
  position: relative;
  top: -30px;
}