<!-- Header -->
{{ partial "header.html" . }}

<div class="emobanner" style="background-image: url({{ .Params.Image }})">
  <h1><span>{{ .Params.PreTitle }}</span>{{ .Title }}</h1>
</div>

<main>

  <div class="startpage">

    <h2>Recent Posts</h2>

    <ul>

      <!-- Loop through recent 3 posts -->
      {{ range first 3 (where .Site.RegularPages.ByPublishDate "Section" "posts")}}
      <li>
        <div class="image" style="background-image: url({{ .Params.Image }}" )></div>

        <h3>{{ .Title }}</h3>

        <p>
          <small>{{ .Date.Format "02.01.2006" }}</small>
        </p>

        {{ .Summary }}

        <p>
          <a class="readmore" href="{{ .RelPermalink }}">Weiterlesen</a>
        </p>

      </li>
      {{ end }}
      <!-- End loop -->
    </ul>
  </div>

  <!-- Footer -->
  {{ partial "footer.html" . }}