<!-- Header -->
{{ partial "header.html" . }}

<div class="emobanner" style="background-image: url('{{ .Params.Image }}')">
  <h1><span class="pre">{{ .Params.PreTitle }}</span><span class="main" id="title">{{ .Title }}</span></h1>
</div>

<main>

  <div class="startpage">

    <h2>Recent Posts</h2>

    <ul>

      <!-- Loop through recent 3 posts -->
      {{ range first 3 (where .Site.RegularPages.ByPublishDate "Section" "posts")}}
      {{ partial "blog-post-teaser" . }}
      {{ end }}
      <!-- End loop -->
    </ul>

    <div class="box">
      {{ .Content }}
    </div>

  </div>

  <!-- Footer -->
  {{ partial "footer.html" . }}