<!-- Header -->
{{ partial "header.html" . }}

<div class="emobanner">
  <video id="videoBG" preload="auto" autoplay muted loop poster="">
    <source src="/images/innovation.mp4" type="video/mp4">
  </video>
  <h1>
    <span class="pre" id="pre-title">{{ .Params.PreTitle }}</span>
    <span class="main" id="title">{{ .Title }}</span>
  </h1>
</div>

<main>

  <div class="startpage">

    <h2>Recent Posts</h2>

    <ul>
      <!-- Loop through recent 3 posts -->
      {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "posts")}}
      {{ partial "blog-post-teaser" . }}
      {{ end }}
      <!-- End loop -->
    </ul>

    <div class="box">
      {{ .Content }}
    </div>

  </div>

  <!-- Footer -->
  {{ partial "footer.html" . }}

