<div class="emobanner article">
  <h1>
    <span class="pre">{{ .Date.Format "02.01.2006" }}</span>
    {{ .Title }}
    {{ if isset .Params "subtitle" }}
      <span class="subtitle">{{ .Params.subtitle }}</span>
    {{ end }}
  </h1>
  <div style="background-image: url('{{ .Params.Image }}')"></div>
</div>

<main>

  {{ .Content }}

  {{ if isset .Params "tags" }}
  {{ $baseURL := .Site.BaseURL }}

  <h2 class="footer">Article Tags</h2>

  {{ partial "tags-linked" . }}
  {{ end }}

  {{- range .Params.authors }}
  {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
  <figure class="author">
    <img src="../../authors/{{ .Params.photo }}" alt="" />
    <figcaption>
      <h3>{{ .Params.name }}</h3>
      <p>{{ .Params.jobtitle }}</p>
    </figcaption>
  </figure>
  {{ end }}
  {{ end }}