<li>
  <a href="{{ .RelPermalink }}"><div class="image" style="background: url('{{ .Params.Image }}') no-repeat center center; background-size: cover"></div></a>

  <h3><a class="clickable-title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>

  <p>
    <small>{{ .Date.Format "02.01.2006" }}
      {{ if isset .Params "authors" }}
      - {{ delimit .Params.authors ", "}}
      {{ end }}
    </small>
  </p>

  {{ .Summary }}

  {{ partial "tags-linked" . }}

  <a class="readmore" href="{{ .RelPermalink }}">Read More</a>

</li>
