<!doctype html>
<html>

<head>
  <title> {{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }} {{ end }} </title>

  <meta charset="utf-8">

  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />{{ end }}
</head>

<body>
  <header>
    <img src="/images/NTT-Data-white.png">

    <nav>

      {{ range .Site.Params.navbar.nav }}
        <a {{ if .emphasized }}class="emphasized" {{ end }} href="{{ .url }}">{{ .name }}{{ if .current }}<span class="sr-only">(current)</span>{{ end }}</a>
      {{ end }}

    </nav>

  </header>

