<!-- Header -->
{{ partial "header.html" . }}

<div class="emobanner article" style="background-image: url('{{ .Params.Image }}')">
  <h1><span>{{ .Params.PreTitle }}</span>Articles related to {{ .Title }}</h1>
</div>

<main>

  <div class="startpage">

    <ul>
      <!-- Loop through all posts -->
      {{ $paginator := .Paginate (where .Data.Pages "Type" "article") }}
      {{ range .Paginator.Pages }}
      {{ partial "blog-post-teaser" . }}
      {{ end }}
      <!-- End loop -->
    </ul>
  </div>

  {{ partial "page-navigation.html" . }}
  {{ partial "tag-cloud.html" . }}
  {{ partial "footer.html" . }}
